version: '3.8'
services:
  booking:
    build:
      context: .
      dockerfile: dockerfile
    environment:
      - SPRING_PROFILES_ACTIVE=default
      - SERVER_PORT=8081
    ports:
      - "8081:8081"
    restart: always


